/* GLOBAL */
.app__title {
    text-align: center;
    padding: 5px;
    display: table;
    margin: 10px auto 35px auto;
    border-bottom: 1px solid black;
}
    
.card {
    min-width: 350px;
}

.card-header {
    color: #FFFFFF;
}

.createAndEdit {
    justify-content: space-around;
    align-items: flex-start;
}

.btn {
    cursor: pointer;
}

a:link, a:active, a:hover, a {
    text-decoration: none;
}

/* NAVIGATION */
.nav {
    max-width: 385px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}

.nav-item {
    width: 40%;
    text-align: center;
}

.nav-item a:active,
.nav-item a.active:hover,
.nav-item a:focus {
    color: #FFFFFF;
}

.nav-item a:hover{
    color: inherit;
}

.active {
    display: block;
    color: #FFFFFF;
    border-radius: 5px;
    height: 100%;
}

.navNew.active {
    background-color: #28B62C;
}

.navEdit.active {
    background-color: #75CAEB;
}

/* CREATE */
.createProfile {
    padding-bottom: 10px;
    text-align: center;
}

.createProfile .formRow {
    text-align: left;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between !important;
}

.createProfile .formRow  input {
    margin-left: 5px;
    padding-left: 5px;
}

#carrotsCount {
    margin-bottom: 25px;
    width: 54%;
}



/* EDIT */
.edit__card{
    text-align: center;
}

.edit__card select {
    min-width: 90px;
    margin-left: 10px;
}

.edit__card p {
    margin-top: 15px;
    margin-bottom: 25px;
}

.countButton {
    width: 47px;
    padding: 10px;
    margin: 0px 1px;
}

.buttonGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.buttonRow {
    margin-bottom: 4px;
}

/* TABLE */
.table, th {
    text-align: center;
}

.table {
    width: 100%;
    margin-top: 50px;
}


/* MEDIA QUERIES */


@media (max-width: 420px) {
    .container{
        width: 98vw;
        padding: 0px;
    }
    
    .row {
        margin: 0;
    }

    .card {
        min-width: 94vw;
    }

    .edit__card  {
        margin-top: 20px;
    }

    .countButton {
        width: 43px;
    }
}